################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Project09/.vs
/Project09/Project09/bin/Debug/net8.0-windows
/Project09/Project09/obj
/Project09/Server/bin/Debug/net8.0-windows
/Project09/Server/obj
